html {
    --cream: #FCF7F2;
    --orange: #F27100;
    --black: #352C2D;
    --tan: #E8E2DA;

}

header {
    align-items: center;
    background-image: url(../img/coffee\ beans.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
}

body {
    background-color: var(--cream);
    font-family: 'Futura PT Medium', sans-serif;
    letter-spacing: .5pt;
    color:#352C2D; 
    display: grid;
}


h1 {
    font-weight: 500;
    font-size: 60pt;
    letter-spacing: 30;
    text-align:center;
}

h2 {
    font-weight: 500;
    font-size: 36pt;
    text-align:center;
    text-align:center;
}

h3 {
    color:#F27100;
    font-weight: 500;
    font-size: 32pt;
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 3rem;
}

th {
    font-weight: 700;
    font-size: 20pt;
    text-align: left;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

td {
    font-weight: 500;
    font-size: 20pt;
}

p {
    font-weight: 500;
    font-size: 20pt;
    padding-bottom: 5rem;
}

footer {
    background-color: #E8E2DA;
    display: flex;
    padding-bottom: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem,1fr) [main-start] minmax(0,1280px) [main-end] minmax(1rem, 1fr) [full-end];
}

.grid *{
    grid-column: main;
}

.overview-grid {
    margin: 5rem;
}
.overview {
    padding: 4rem;
}

.my-map {
    width: 403px;
    height: 403px;
    position: f
}

@media screen and (min-width: 800px) {
    .two-column{
        align-items: start;
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
    }
}

